.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #fff;
  border: 2px solid #4e4e4e;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  max-height: 250px;
}

.container:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1f1f1f;
}

.authorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.thumbnail {
  border-radius: 10px;
  min-width: 250px;
  max-width: 250px;
  max-height: 100%;
  object-fit: cover;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  text-overflow: ellipsis;
}

.content {
  /* This will allow the content to display only up to 3 lines */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;  /* Number of lines to show */
  -webkit-box-orient: vertical;
  line-clamp: 3;
  /* Optional: add ellipsis if you want an indication of more content */
  text-overflow: ellipsis;
}

.postFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: #525252;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (max-width: 426px) {
  .container {
    flex-direction: column;
    max-height: fit-content;
    gap: 15px;
  }

  .contentContainer {
    gap: 15px;
  }

  .thumbnail {
    min-width: 100%;
    min-width: 100%;
  }
}