.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.siteName {
  font-size: 1.5rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
}