.profilePicture {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #313131;
  padding: 30px;
  border-radius: 30px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionButton {
  min-width: 150px;
  max-width: 150px;
  border-radius: 5px;
}

#logout {
  background-color: #b40c00;
}

#delete {
  background-color: #8f0000;
}

.divider {
  background-color: #4d4d4d;
  border: 0;
  border-radius: 10px;
  height: 5px;
}

.postsButton {
  width: 100%;
}