.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.registerForm {
  background-color: #303030;
  border-radius: 25px;
  padding: 50px;
  min-width: 500px;
}